@import '../../assets/styles/constants.scss';
@import '../../assets/styles/fonts.scss';

.menu {
    position: relative;
    top: -10px;
    right: 0;
    width: 200px;
    text-align: center;
    align-content: center;
    height: 425px;
    margin-left: auto;
    background: rgb(81, 158, 185);
    font-size: 15px;
    &__link{
      height: 63px;
      width: 100%;
    }
    &__salir{
      margin-top: 40px;
      position: relative;
      top: 40px;
      margin-bottom: 40px;
      background: rgba(129, 184, 205, 0.0);
      font-family: $robonto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #2E3C54;
      text-decoration: none;
      &:hover{
        color: #CC4454;
        font-size: 20px;
      }
    }
    &__line{
      position: relative;
    /* top: 40px; */
    /* bottom: 20px; */
    border: 1px solid #2E3C54;
    }
    &__button{
      margin-top: 40px;
      position: relative;
      // top: 40px;
      margin-bottom: 40px;
      background: rgba(129, 184, 205, 0.0);
      font-family: $robonto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #2E3C54;
      text-decoration: none;
      &:hover{
        color: #CC4454;
        font-size: 20px;
      }
    }
}