@import '../../assets/styles/constants.scss';
@import '../../assets/styles/fonts.scss';

.principal {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  text-align: center;
  align-content: center;
}

// @media only screen and (min-width: 851px) and (max-width: 1351px){
// }