@import './../../assets/styles/constants.scss';
@import './../../assets/styles/fonts.scss';
.evaluate{
  position: absolute;
  top: 500px;
  width: 600px;
  height: 600px;
  background: rgba(129, 184, 205, 0.5);;
}