@import './../../assets/styles/fonts.scss';

.footer{
    width: 1152px;
    height: 78px;
    left: 0px;
    top: 30px;
    &__phone{
        width: 87px;
        height: 14px;
        left: 454px;
        top: 1941px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: #5DAAC1;
    }
    &__email{
      width: 94px;
        height: 14px;
        left: 633px;
        top: 1941px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: #5DAAC1;
    }
    &__copyRight{
      width: 160px;
      height: 14px;
      left: 501px;
      top: 1972px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;

      color: #5DAAC1;
    }
    &__logo{
      width: 135px;
      height: 78px;
      left: 1017px;
      top: 1924px;
    }
}