@import '../../assets/styles/constants.scss';
@import '../../assets/styles/fonts.scss';

.header {
  width: 1152px;
  height: 78px;
  left: 0px;
  top: 0px;

  background: #2E3C54;
  &__logo{
    // meter todo
    top: 20px;
  }
  &__name{
    width: 149px;
    height: 45px;
    left: 67px;
    top: 20px;
  }
  &__input{
    width: 246px;
    height: 42px;
    left: 601px;
    top: 20px;

    border: 2px solid #81B8CD;
    box-sizing: border-box;
    border-radius: 10px;
  }
  &__login{
    width: 108px;
    height: 21px;
    left: 901px;
    top: 32px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #5DAAC1;
  }
  &__signin{
    width: 76px;
    height: 18px;
    left: 1022px;
    top: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #5DAAC1;
  }
  &__line{
    width: 1152px;
    height: 0px;
    left: 1152px;
    top: 76px;

    border: 4px solid #CC4454;
    transform: rotate(179.9deg);
  }
}

// @media only screen and (min-width: 851px) and (max-width: 1351px){
//   .header {
//     &__menu{
//       padding-left: 90px;
//     }
//   }
// }